<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<queries>
		<intent>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent>
		<intent>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
		</intent>
	</queries>
	<application
		android:allowBackup="true"
		android:label="@string/app_name"
		android:icon="@drawable/ic_launcher_placeholder"
		android:roundIcon="@drawable/ic_launcher_placeholder"
		android:supportsRtl="true"
		android:theme="@style/Theme.Launcher">

		<activity
			android:name=".ui.DesignPickerActivity"
			android:exported="false"
			android:label="@string/select_design" />
	</application>
</manifest>